<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button *ngIf="searchEnabled == true" (click)="toggleSearch()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button *ngIf="searchEnabled == false" (click)="toggleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar animated placeholder="Buscar Livro" *ngIf="searchEnabled == true"></ion-searchbar>
  <ion-list lines>
    <ion-item *ngFor="let book of books; let i = index" class="book">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-avatar slot="start">
        <ion-img [src]=""></ion-img>
      </ion-avatar>
      <ion-label>
        <ion-text color="primary">
          <h2>Título do Livro</h2>
        </ion-text>
        <ion-text color="medium">
          <p>Autor do Livro</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>